@import "tailwindcss";
@plugin "daisyui" {
	themes: corporate --default;
}

@plugin "daisyui/theme" {
	name: "corporate";
	default: true;
	--color-primary: #f48325;
}

@theme {
	--color-line-M1: #e31d1a;
	--color-line-M2: #638b18;
	--color-line-M3: #f6a704;
	--color-line-M4: #1f3e6d;
	--color-line-M5: #9778d3;
}

/* === SAFELIST (ex safelist) === */
@source inline("bg-line-{M1,M2,M3,M4,M5}");
@source inline("color-primary");
@source inline("bg-primary");
